body{
    background-image: url(/assets/img/bord.webp);
    background-repeat: no-repeat;
}

#container{
    opacity: 0.5;
    width: 936px;
    display: flex;
    /* margin: 0 auto; */
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    margin-left: 124px;
    margin-top: 146px;
}

#left{
    width: 240px;
    background-color: rgb(207, 207, 207);
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: blue;
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right{
    width:128px;
    height: 335px;
    background-color: blue;
    border: 2px solid #000;
}

/*Rechts*/
.WitVierkantRechts{
    position: relative;
    width: 94px;
    height: 94px;
    background-color: white;
    margin-left: 15px;
    margin-top: 36px;
}

.BlauwVierkantRechts{
    position: absolute;
    left: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: blue;
}

.SpoorRechts::before{
    position: absolute;
    top: 5px;
    left: 20px;
    font-weight: bold;
    font-size: 11px;
    content: "spoor";
    color: rgb(0, 0, 106)
}

.tien::before{
    position:absolute;
    top: 22px;
    left: 6px;
    font-weight: bold;
    font-size: 65px;
    content: "1";
    color: rgb(0, 0, 106);
}

.acht::before{
    position:absolute;
    top: 22px;
    left: 35px;
    font-weight: bold;
    font-size: 65px;
    content: "8";
    color: rgb(0, 0, 106);
}

.b::before{
    position: absolute;
    top: 27px;
    left: 70px;
    font-weight: bold;
    font-size: 35px;
    content: "b";
    color: rgb(0, 0, 106);
}

/* Midden*/
.WitVierkantMidden{
    position: relative;
    width: 475px;
    height: 245px;
    background-color: white;
    margin-left: 3px;
    margin-top: -4px;
}

.minuut::before{
    position: absolute;
    top: 12px;
    left: 37px;
    font-weight: bold;
    font-size: 25px;
    content: "minuut";
    color: rgb(0, 0, 106);
}

.Een::before{
    position: absolute;
    top: -1px;
    left: 11px;
    font-weight: bold;
    font-size: 40px;
    content: "1";
    color: rgb(0, 0, 106);
}

.Heerlen::before{
    position: absolute;
    top: 40px;
    left: 10px;
    font-weight: bold;
    font-size: 40px;
    content: "Heerlen";
    color: rgb(0, 0, 106);
}

.ReisOverzicht::before{
    position: absolute;
    top: 100px;
    left: 10px;
    font-weight: bold;
    font-size: 25px;
    content: "via 's-Hertogenbosch, Eindhoven, Weert, Roemond en Stilard";
    color: rgb(0, 0, 106);
}

.Intercity::before{
    position: absolute;
    top: 5px;
    right: 90px;
    font-weight: bold;
    font-size: 35px;
    content: "Intercity";
    color: rgb(0, 0, 106);
}

.Logo {
    position: absolute;
    width: 80px;
    height: auto;
    top: 5px;
    right: 5px;
}

.BlauwVakOnder {
    position: relative;
    width: 475px;
    height: 25px;
    margin-left: 3px;
    top: 0px;
    background-color: darkblue;
}

.Hierna::before {
    position: absolute;
    top: 0px;
    left: 5px;
    font-weight: bold;
    font-size: 19px;
    content: "Hierna/next: 08:54 IC Venlo";
    color: white;
}

/*Klok*/
.clock-container { 
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}

.clock-screen {
    position: relative; 
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hour {
    position: absolute;
    width: 10px;
    height: 30px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    transform: rotate(calc(var(--i) * 30deg)) translate(0, -140px);
    scale: 55%;
}