body{
    background-image: url(/assets/img/bord.webp);
    background-repeat: no-repeat;
}

#container{
    opacity: 1;
    width: 936px;
    display: flex;
    /* margin: 0 auto; */
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    margin-left: 124px;
    margin-top: 146px;
}

#left{
    width: 240px;
    background-color: rgb(207, 207, 207);
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: blue;
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right{
    width:128px;
    height: 335px;
    background-color: blue;
    border: 2px solid #000;
}

/*Rechts*/
.WitVierkantRechts{
    position: relative;
    width: 94px;
    height: 94px;
    background-color: white;
    margin-left: 15px;
    margin-top: 36px;
}

.BlauwVierkantRechts{
    position: absolute;
    left: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: blue;
}

.SpoorRechts::before{
    position: absolute;
    top: 5px;
    left: 20px;
    font-weight: bold;
    font-size: 11px;
    content: "spoor";
    color: rgb(0, 0, 106)
}

.tien::before{
    position:absolute;
    top: 22px;
    left: 6px;
    font-weight: bold;
    font-size: 65px;
    content: "1";
    color: rgb(0, 0, 106);
}

.acht::before{
    position:absolute;
    top: 22px;
    left: 35px;
    font-weight: bold;
    font-size: 65px;
    content: "8";
    color: rgb(0, 0, 106);
}

.b::before{
    position: absolute;
    top: 27px;
    left: 70px;
    font-weight: bold;
    font-size: 35px;
    content: "b";
    color: rgb(0, 0, 106);
}

/* Midden*/
.WitVierkantMidden{
    position: relative;
    width: 475px;
    height: 245px;
    background-color: white;
    margin-left: 3px;
    margin-top: -4px;
}

.minuut::before{
    position: absolute;
    top: 12px;
    left: 37px;
    font-weight: bold;
    font-size: 25px;
    content: "minuut";
    color: rgb(0, 0, 106);
}

.Een::before{
    position: absolute;
    top: -1px;
    left: 11px;
    font-weight: bold;
    font-size: 40px;
    content: "1";
    color: rgb(0, 0, 106);
}

.Heerlen::before{
    position: absolute;
    top: 40px;
    left: 10px;
    font-weight: bold;
    font-size: 40px;
    content: "Heerlen";
    color: rgb(0, 0, 106);
}

.ReisOverzicht::before{
    position: absolute;
    top: 100px;
    left: 10px;
    font-weight: bold;
    font-size: 25px;
    content: "via 's-Hertogenbosch, Eindhoven, Weert, Roemond en Stilard";
    color: rgb(0, 0, 106);
}

.Intercity::before{
    position: absolute;
    top: 5px;
    right: 90px;
    font-weight: bold;
    font-size: 35px;
    content: "Intercity";
    color: rgb(0, 0, 106);
}

.Logo {
    position: absolute;
    width: 80px;
    height: auto;
    top: 5px;
    right: 5px;
}

.BlauwVakOnder {
    position: relative;
    width: 475px;
    height: 25px;
    margin-left: 3px;
    top: 0px;
    background-color: darkblue;
}

.Hierna::before {
    position: absolute;
    top: 0px;
    left: 5px;
    font-weight: bold;
    font-size: 19px;
    content: "Hierna/next: 08:54 IC Venlo";
    color: white;
}

/*Klok*/
* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #klok {
    width: 77vmin;
    height: 77vmin;
    border-radius: 10vmin;
    opacity: 0;
    transition: all 0.2s;
    scale: 25%;
    margin-top: -180px;
    margin-left: -180px;
  }
  body.loaded #klok {
    opacity: 1;
  }
  
    #wijzer-uur,
    #wijzer-min,
    #wijzer-sec {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      margin-left: -1.5vmin;
      width: 3vmin;
    }
  
    body.loaded #wijzer-uur,
    body.loaded #wijzer-min,
    body.loaded #wijzer-sec {
      transition: transform 1s;
    }
  
    #wijzer-uur,
    #wijzer-min {
      background: black;
      border-radius: 0 0 1.5vmin 1.5vmin;
    }
  
    #wijzer-uur,
    #wijzer-min,
    #wijzer-sec .line,
    #wijzer-sec .circle {
      box-shadow: -10px 5px 10px rgba(0,0,0,0.1);
    }
  
    #wijzer-uur {
      margin-top: -5vmin;
      height: 30vmin;
  
      transform-origin: 1.5vmin 5vmin;
    }
  
    #wijzer-min {
      margin-top: -10vmin;
      height: 43vmin;
  
      transform-origin: 1.5vmin 10vmin;
    }
  
    #wijzer-sec {
      margin-top: -5vmin;
      height: 40vmin;
  
      transform-origin: 1.5vmin 5vmin;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
      #wijzer-sec:before {
        content: "";
        position: absolute;
        top: 4vmin;
        width: 2vmin;
        height: 2vmin;
        background: #990000;
        border-radius: 2vmin;
      }
      #wijzer-sec .line {
        background: #990000;
        width: 1vmin;
        height: 15vmin;
      }
      #wijzer-sec .line:first-child {
        height: 20vmin;
      }
      #wijzer-sec .line:last-child {
        height: 10vmin;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
      }
      #wijzer-sec .circle {
        border: 1vmin solid #990000;
        border-radius: 100%;
        width: 4vmin;
        height: 4vmin;
      }
  
    #minuten {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
      #minuten .minuut {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -3vmin;
        margin-top: -0.5vmin;
        width: 6vmin;
        height: 1.5vmin;
  
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      #minuten .minuut:before {
        content: "";
        display: block;
        background: #1441AD;
        width: 1vmin;
        height: 1vmin;
        border-radius: 3vmin
      }
      #minuten .minuut:nth-child(5n+1):before {
        width: 6vmin;
        height: 3vmin;
      }
    

.container-klok {
width: 100px;
height: 100px;
border-radius: 50%;
scale: 160%;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
margin-left: 58px;
margin-top: 58px;
}